@charset "utf-8";
/* CSS Document */
body{
	background-color: #E5E5E5;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.top{
	background-color: #999999;
	height: 100px;
	width: 800px;
	font-size: 40px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}
.roda_pe {
	background-color: #949494;
	clear: both;
}
.menu {
	background-color: #999999;
}

.col_esquerda {
	background-color: #999999;
	float: left;
	width: 150px;
	display: block;
}
.col_direita {
	float: right;
	width: 650px;
	background-color: #FFFFFF;
}


.corpo {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
}
